@namespace WateringOS_4_0.Pages

@inject NavigationManager NavigationManager

@using Services

<NavLink class="nav-link" @onclick="ShowAlarms" style="color: crimson; cursor: pointer">
    @if (AlarmService.ActiveAlarms.Count>0)
    {
        <span class="oi oi-bell" style="padding-right:1em"></span>@LatestAlarm
    }
</NavLink>

@code {
    private string LatestAlarm = "";

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(delegate { AlarmService.OnAlarm += UpdateAlarm; });
        LatestAlarm = GetLatestAlarm();
    }   

    private void UpdateAlarm(AlarmService.Alarm _alarm)
    {
        LatestAlarm = GetLatestAlarm();
        InvokeAsync(() => StateHasChanged());
    }

    private void ShowAlarms()
    {
        NavigationManager.NavigateTo("/alarms");
    }

    private string GetLatestAlarm()
    {        
        try
        {
            return String.Format("{0} (+{1})",AlarmService.ActiveAlarms.Last().Name,AlarmService.ActiveAlarms.Count-1);
        }
        catch
        {
            return "";
        }
    }
}
