@namespace WateringOS_4_0.Pages

@implements IDisposable

@using WateringOS_4_0.Models

<div class="control-section" style="padding-left:20px">

    <h5>Power Supply</h5>

    <div class="row">
        <div class="col-fixed pwr">5V:</div>
        <div class="col-auto pwr" >
            <div class="container pwr" id="stat_PG5" style="background-color:@StateStyle(RecentValues.PowerGood_5V);">
                <span class="text" style="color:whitesmoke">Low</span>
            </div>
        </div>
        <div class="col-auto pwr" style="margin-left:5px">
            <div class="container pwr" id="stat_PF5" style="background-color:@StateStyle(!RecentValues.PowerFail_5V);">
                <span class="text" style="color:whitesmoke">Fail</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-fixed pwr">12V:</div>
        <div class="col-auto pwr" >
            <div class="container pwr" id="stat_PG12" style="background-color:@StateStyle(RecentValues.PowerGood_12V);">
                <span class="text" style="color:whitesmoke">Low</span>
            </div>
        </div>
        <div class="col-auto pwr" style="margin-left:5px;">
            <div class="container pwr" id="stat_PF12" style="background-color:@StateStyle(!RecentValues.PowerFail_12V);">
                <span class="text" style="color:whitesmoke">Fail</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-fixed pwr">24V:</div>
        <div class="col-auto pwr" >
            <div class="container pwr" id="stat_PG24" style="background-color:@StateStyle(RecentValues.PowerGood_24V);">
                <span class="text" style="color:whitesmoke">Low</span>
            </div>
        </div>
        <div class="col-auto pwr" style="margin-left:5px;">
            <div class="container pwr" id="stat_PG24" style="background-color:@StateStyle(!RecentValues.PowerFail_24V);">
                <span class="text" style="color:whitesmoke">Fail</span>
            </div>
        </div>
    </div>

</div>

<style>
    .col-fixed.pwr {
        width: 100px;
        padding-top: 5px;
        padding-right: 18px;
        text-align: right;
    }

    .col-auto.pwr {
        padding-left: 0px;
        padding-right: 0px;
    }

    .container.pwr {
        width: 80px;
        border-radius: 10px;
        margin: 7px 0px 7px 0px;
        text-align: center;
    }

</style>

@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(delegate { Globals.GUI.HasChanged_slow += Update; });
    }        
    private void Update()
    {
        InvokeAsync(() => StateHasChanged());
    }

    private string StateStyle(bool status)
    {
        if (status)
            return "forestgreen";
        else
            return "crimson";
    }

    public void Dispose()
    {
        Globals.GUI.HasChanged_slow -= Update;
    }
}