@namespace WateringOS_4_0.Pages

@implements IDisposable

@using WateringOS_4_0.Models

<p>Last updated: <span class="text" id="txt_TimeStamp">@TimestamtToString()</span></p>

@code {

    private string TimestamtToString()
    {
        return RecentValues.TimeStamp.ToString("dd/MMM/yyyy HH:mm:ss.fff");
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(delegate { Globals.GUI.HasChanged_fast += Update; });

    }        
    private void Update()
    {
        InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        Globals.GUI.HasChanged_fast -= Update;
    }
}
