@namespace WateringOS_4_0.Pages

@using Syncfusion.Blazor.CircularGauge

<div class="control-section" id="target" style="padding-top:2em;width:100%;height:100%">
    <SfCircularGauge Height="95%">
        <CircularGaugeAxes>
            <CircularGaugeAxis StartAngle="200" EndAngle="160" Minimum="0" Maximum="100" Radius="100%">
                <CircularGaugeAxisLineStyle Width="0.01" />
                <CircularGaugeAxisLabelStyle Position="Position.Inside" UseRangeColor="true">
                    <CircularGaugeAxisLabelFont Size="0px" Color="transparent" />
                </CircularGaugeAxisLabelStyle>
                <CircularGaugeAxisMajorTicks Height="0.01" />
                <CircularGaugeAxisMinorTicks Height="0.01" />
                <CircularGaugeRanges>
                    <CircularGaugeRange Start="0" End="100" Radius="100%" StartWidth="30" EndWidth="30" Color="#E0E0E0" RoundedCornerRadius="20" />
                </CircularGaugeRanges>
                <CircularGaugePointers>
                    <CircularGaugePointer Value="@ValuePercent" RoundedCornerRadius="20" Type="PointerType.RangeBar" Radius="100%" Color="@PointerColor" PointerWidth="30">
                        <CircularGaugePointerAnimation Enable="false" />
                        <CircularGaugePointerBorder Color="grey" Width="0.01" />
                    </CircularGaugePointer>
                </CircularGaugePointers>
                <CircularGaugeAnnotations>
                    <CircularGaugeAnnotation Radius="0%" Angle="0" ZIndex="1">
                        <ContentTemplate>
                            <div class="annotationText">@ValuePercentText</div>
                            <div class="annotationSubText">@ValueLiterText</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                </CircularGaugeAnnotations>
            </CircularGaugeAxis>
        </CircularGaugeAxes>
    </SfCircularGauge>

    <h4 style="position:absolute; top:5px; left:20px">Tank Level</h4>
</div>

<style>

    .annotationText {
        font-size: 1.8em;
        width: 120px;
        text-align: center;
        margin-top: -30px;
        margin-left: -55px
    }

    .annotationSubText {
        font-size: 1.5em;
        width: 120px;
        text-align: center;
        margin-top: -10px;
        margin-left: -55px
    }
</style>

@code {
    private string PointerColor = "#038c9a";
    private double ValuePercent = 87;
    private double ValueLiter = 48;
    private string ValuePercentText = "87%";
    private string ValueLiterText = "48 l";

    private void SetTankLevel(int Percent, int Liter)
    {
        ValuePercent = Percent;
        ValueLiter = Liter;

        // use MinTankLevel
        if (ValuePercent <= 5) { PointerColor = "#ea501a"; }
        else { PointerColor = "#038c9a"; }

        ValuePercentText = ValuePercent.ToString() + "%";
        ValueLiterText = ValueLiter.ToString() + " l";

    }
}
