@namespace WateringOS_4_0.Pages

<div class="control-section" style="padding-left:20px">

    <h5>Temperatures</h5>
    <div class="row">
        <div class="col-fixed temp">Ambient:</div>
        <div class="col-auto temp" ><span class="text" id="stat_Amb">--°C</span></div>
    </div>
    <div class="row">
        <div class="col-fixed temp">Exposed:</div>
        <div class="col-auto temp" ><span class="text" id="stat_Exp">--°C</span></div>
    </div>
    <div class="row">
        <div class="col-fixed temp">Board:</div>
        <div class="col-auto temp" ><span class="text" id="stat_Board">--°C</span></div>
    </div>
    <div class="row">
        <div class="col-fixed temp">CPU:</div>
        <div class="col-auto temp" ><span class="text" id="stat_CPU">--°C</span></div>
    </div>
    <div class="row">
        <div class="col-12"><p></p></div>
    </div>

</div>

<style>
    .col-fixed.temp {
        width: 180px;
        padding-right: 12px;
        padding-top: 7px;
        text-align: right;
    }

    .col-auto.temp {
        text-align: left;
        padding-top: 7px;
    }

</style>

@code {
    private string TempAmbText = "23 °C";
    private string TempExpText = "27 °C";
    private string TempPcbText = "42 °C";
    private string TempCpuText = "47 °C";

    private void SetTemperature(double Temperature)
    {

    }
}