@page "/trend_watering"
@namespace WateringOS_4_0.Pages

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor
@using WateringOS_4_0.Models
@using System.Collections.ObjectModel

<div class="control-section" style="margin-bottom:50px; height:100%">
    <div class="row">
        <div class="col">
            <Trend_Heading @ref="ChildComponent">
                <trendDate>@TrendDate</trendDate>
            </Trend_Heading>
        </div>
    </div>

    <SfTab CssClass="default-tab" SelectedItem="2">
        <TabItems>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="<<"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <Trend_Watering3 UpdateTrendDate=@UpdateTrendDate />
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="<"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <Trend_Watering2 UpdateTrendDate=@UpdateTrendDate />
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Latest"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <Trend_Watering1 UpdateTrendDate=@UpdateTrendDate />
                </ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>

</div>

<style>
    .e-content {
        height: 100%;
    }

    .e-tab {
        height: 100% !important;
    }

        .e-tab .e-content > .e-item.e-active {
            height: 100%;
        }

        .e-tab .e-tab-header .e-toolbar-item .e-tab-text {
            font-weight: 400;
            font-size: 20px;
            color: #1b6ec2;
            text-align: center;
            display: inline-block;
        }

    .e-toolbar .e-toolbar-items .e-toolbar-item:not(.e-separator),
    .e-toolbar .e-toolbar-items .e-toolbar-item .e-tab-wrap {
        width: 100px;
        height: 30px;
        text-align: center;
    }

    .e-tab .e-tab-header .e-toolbar-items .e-active .e-tab-wrap {
        background-color: #1b6ec2;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .e-tab .e-tab-header {
        background-color: #fff;
        border-radius: 0;
        border-bottom-color: #1b6ec2;
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }

        .e-tab .e-tab-header .e-toolbar-item:not(.e-active) .e-tab-wrap:hover {
            background-color: #0000001c;
            border: 1px solid #0000003d;
        }

    .e-tab .e-toolbar .e-toolbar-items .e-toolbar-item .e-text-wrap {
        height: 30px;
    }

    .e-tab .e-toolbar-items .e-active .e-title {
        display: block;
        text-align: center;
        color: #fff;
    }

    .e-tab .e-tab-header .e-toolbar-item.e-active.e-ileft .e-tab-text, .e-tab .e-tab-header .e-toolbar-item.e-active.e-iright .e-tab-text {
        color: #fff;
    }

    .e-tab .e-tab-header .e-toolbar-item .e-tab-wrap:hover .e-tab-text, .e-tab .e-tab-header .e-toolbar-item .e-tab-wrap:hover .e-tab-icon {
        color: #1b6ec2;
    }

    .e-tab .e-tab-header:not(.e-vertical) .e-toolbar-item.e-active {
        border-bottom: 1px solid #1b6ec2;
    }

    .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-wrap:hover .e-tab-text, .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-wrap:hover {
        color: #fff;
    }
</style>

@code{
    private string TrendDate = "-. ---";
    protected Trend_Heading ChildComponent;

    private void UpdateTrendDate(string str)
    {
        TrendDate = str;
        ChildComponent.Update();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //
    }

}
